body {
  background-color: #eee;
}

p {
  font-family: "Times New Roman", Times, serif; /*Tipo de fuente*/
  font-weight: 500 /*Grosor de la fuente*/;
  font-style: oblique; /*Estilo de la fuente*/
  font-size: 1.5em; /*Tamaño de la fuente*/
  color: #222fff; /*Se pueden usar nombres de colores o codigos hexadecimales*/
  text-align: justify; /*Alinea el texto a la izq, cent o der*/
  text-indent: 40px; /*Nos permite identar el texto*/
  line-height: 1.4; /*Manipular la altura de un texto*/
  word-spacing: 3px; /*Espaciado entre palabras*/
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); /*difuminado del texto*/
  word-spacing: 10px;
}

a {
  text-decoration: underline; /*Lineas en el texto*/
  text-transform: capitalize; /*Ṕuede dejar texto en mayusculas o minusculas*/
  letter-spacing: 3px; /*Genera espacios entre el texto*/
}
